.todo-list.show-complete {
    .todo-task.incomplete {
        @apply hidden;
    }
}

.todo-list.show-incomplete {
    .todo-task.complete {
        @apply hidden;
    }
}

.todo-task.important {
    @apply bg-orange-300 hover:bg-orange-400;

    .task-info {
        & h4 {
            @apply font-bold;
        }
    }
}

.todo-task {
    @apply
        bg-gray-100
        cursor-pointer
        flex
        hover:bg-gray-300
        items-start
        justify-between
        px-2
        py-6
        relative
        text-black
        w-full
    ;

    .task-detail.active {
        @apply scale-100;
    }

    .task-detail {
        @apply
            absolute
            bg-sky-950
            duration-300
            ease-in-out
            flex
            flex-col
            left-0
            overflow-hidden
            rounded-bl-lg
            rounded-br-lg
            scale-0
            text-white
            top-full
            transition-all
            w-full
            z-10
        ;
        transform-origin: top;

        .task-values {
            @apply p-4 flex flex-col gap-4 mb-4;

            & fieldset {
                @apply flex flex-col;

                & label {
                    @apply mb-2;
                }

                & input, textarea {
                    @apply text-black p-2;
                }
            }
        }

        .task-controls {
            @apply inline-flex flex-wrap overflow-hidden rounded-lg;

            & button {
                @apply
                    duration-300
                    ease-in-out
                    flex
                    justify-between
                    px-4
                    py-6
                    sm:w-1/3
                    transition-colors
                    w-full
                ;
            }
        }
    }

    .task-info {
        @apply flex items-center w-full mr-4 py-2;
        
        & h4.complete {
            @apply text-black/80;
            text-decoration: line-through;
        }
    }

    .task-buttons {
        @apply flex gap-2;

        .complete {
            @apply bg-emerald-600 hover:bg-emerald-700;
        }

        .incomplete {
            @apply bg-red-600 hover:bg-red-700;
        }

        .edit {
            @apply bg-fuchsia-600 hover:bg-fuchsia-700;
        }

        .delete {
            @apply bg-rose-600 hover:bg-rose-700;
        }

        & button:hover {
            & span {
                @apply scale-100;
            }
        }
        
        & button {
            @apply p-2 rounded-md transition-colors duration-300 ease-in-out relative;

            & span {
                @apply border-solid border-white border-[1px] delay-700 duration-300 ease-in-out transition-all absolute top-full bg-black/60 text-white left-0 text-[12px] mt-[4px] rounded-sm z-20 w-24 scale-0;
            }
        }
    }
}